# kind-config.yaml.j2
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

networking:
  apiServerAddress: "0.0.0.0"
  apiServerPort: 6443          

nodes:
  - role: control-plane
    extraPortMappings:

      - containerPort: 32000  
        hostPort: 32000      
        protocol: TCP

      - containerPort: 33000  
        hostPort: 33000      
        protocol: TCP

      - containerPort: 6443  
        hostPort: 8443 